/* Index for Horizontal Nav Bar 

ul.topnav:7
ul.topnav li: 16
ul.topnav li a:20
ul.topnav li a:hover: 29

*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  background-color: #138433;
  color: white;
}

ul.topnav li.right {
    float: right;
    background-color: #4CAF50;
}

@media screen and (max-width: 743px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/* Drop down Menu */

.dropbtn {
    display: inline-block;
    /* inline-block to display them horizontally (side by side). */
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.dropdown:hover .dropbtn {
    background-color:#138433;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #160303;
    min-width: 200px;
    z-index: 1;
    /* The z-index property specifies the stack order of an element.

An element with greater stack order is always in front of an element with a lower stack order. */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button1 {   
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {   
    background-color: Green; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}