/*  
Margin: 25px (all sides)

Marging: 25px 25px  1st is up and down, the second number is left and right

Margin: 25px 25px 25px 1st is up, 2nd is righ and left, and 3rd is down

Margin: 25px 25px 25px 25px up, right, down, left

*/

/* Index
Vertical NavBar 21-56
ul: 20
li: 37
li a: 43
li a:hover: 52

*/

/* Vertical Navigation Bar */
ul {
  list-style-type: none;
  /* Remove the bullet points */
  margin: 0;
  padding: 0;
  /*  remove browser default settings */
  border: 1px solid #555;
  /* Around the ul */
  width: 160px;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* fills the entire page and Enable scrolling if the sidenav has too much content */
  background-color: #333;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
  text-decoration: none;
  /* at the bottom of each li */
}

li a {
  display: block;
  /*  Displaying the links as block elements makes the whole link area clickable */
  padding: 8px 16px;
  text-decoration: none;
  color: white;

}

/* Change the link color on hover */
li a:hover {
  background-color: #138433;
  color: white;
}


/* Drop down Menu */


.dropdown:hover .dropbtn {
  background-color:#138433;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 200px;
  z-index: 1;
  /* The z-index property specifies the stack order of an element.

An element with greater stack order is always in front of an element with a lower stack order. */
}

.dropdown-content a {
  color: white;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*End Vertical Navigation Bar */

.para {
  margin-left:35%;
  padding:1px 16px;
  height:1000px
}
    
    



